.star-widget{
  display: flex;
  flex-direction: row-reverse;
}
.star-widget input{
  display: none;
}
.star-widget label{
  font-size: 20px;
  color: #444;
  padding: 0 4px;
  float: left;
  transition: all 0.2s ease;
}
.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
.star-widget input:checked ~ label{
  color: #fd4;
}
.star-widget input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
.star-widget #rate-1:checked ~ form header:before{
  content: "I just hate it 😠";
}
.star-widget #rate-2:checked ~ form header:before{
  content: "I don't like it 😒";
}
.star-widget #rate-3:checked ~ form header:before{
  content: "It is awesome 😄";
}
.star-widget #rate-4:checked ~ form header:before{
  content: "I just like it 😎";
}
.star-widget #rate-5:checked ~ form header:before{
  content: "I just love it 😍";
}





